.profile__add-button {
  position: absolute;
  right: 0;
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-image: url(../../../images/plus.svg);
  background-size: 22px 22px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 2px solid #FFF;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 767px) {
  .profile__add-button {
    position: relative;
    width: 282px;
    background-size: 16px 16px;
  }
}
